html{
    font-size: 16px;
}

body {
    background-color: #0E1823;
    font-family: 'Lato', sans-serif;
}
.header {
    font-weight: 700;
}
.align-center{
    align-items: center;
}

.text-white-opacity {
    opacity: 0.5;
    color: #FFFFFF;
}

.text-white {
    color: #FFFFFF;
}

.header-navigation {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: auto;
}

.header-navigation .navigation-item {
    display: flex;
    flex: 1;
    justify-content: center;
    color: #FFFFFF;
}

.sign {
    color: #FFFFFF;
    display: flex;
}

.get-started {
    font-weight: 700;
    padding: 0.8125rem 2.5625rem 0.8125rem 2.625rem;
    text-transform: uppercase;
    border-radius: 1.5625rem;
    background-color: #484B50;
    border: unset;
    color: #FFFFFF;
    cursor: pointer;
}

.get-started:hover{
    color: #0E1823;
    background-color: #FFFFFF;
}

.bold-text {
    font-weight: 900;
    justify-content: center;
    color:#FFFFFF;
    display: flex;
    margin-top: 95px;
    text-align: center;
}

.business-class {
    font-size:  3.4375rem;
    font-weight: 900;
    color:#FFFFFF;
    display: flex;
}

.device-desc {
    justify-content: center;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    font-weight: 300;
}

.notice {
    color: #FFFFFF;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
}

.store-icons {
    padding-top: 50px;
}

.store-icons .image-container {
    display: flex;
    justify-content: center;
}

.store-icons .image {
    margin:  auto 1.5rem;
}

.divider {
    height: 1px;
    margin: 50px 0;
    background-color: #484B50;
}
.addresses {
    font-size: 20px;
}

.address-bold {
    font-weight: 700;
    color: #FFFFFF;
    flex: 1;
    margin-bottom: 16px;
}

.details {
    margin-left: 11px;
    font-weight: 300
}

.text-divider {
    margin: 0 10px;
}

.tab {
    margin-top: 100px;
}
.tab-wrapper{
    background-color: #121C27;
}

.tab-container{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-container .tab-item {
    flex: 1;
    padding: 22px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    color: #FFFFFF20;
}

.tab-container .tab-item:hover {
    color: #FFFFFF;
}
.tab-container .tab-item.active {
    color: #2FCC71;
    border-bottom: 2px solid #2FCC71;
}

.car {
    margin-top: 100px;
    margin-bottom: 80px;
}
.car .car-item {
    padding: 0 10px;
    height: 100%;

}
.car .car-item .car-item-container {
    display: flex;
    flex-direction: column;
    background-color: #484B50;
    border-radius: 10px;
    text-align: center;
}

.car .car-item .car-item-container.active {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.car-icon {
    flex: 1;
    align-items: center;
    margin-bottom: 18px;
}

.car-type-active {
    font-weight: 700;
    margin: 18px auto;
}

.car-type {
    font-weight: 700;
    color: #FFFFFF;
    margin: 18px auto;
}

.about-us, .ride-or-drive, .subscribe {
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 2.375rem;
}

.footer-widgets p{
    color: #FFFFFF50;
    font-weight: 300;
    font-size: 1rem;
}

.price .circle-container {
    display: flex;
    align-items: center;
}

.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #484B50;
}

.price .circle-container .circle-text {
    font-weight: 900;
    color: #FFFFFF;
    margin-left: 20px;
}

.price .business-class-desc {
    font-size: 21px;
    font-weight: 300;
    text-align: left;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 35px;
}

.price .price-number {
    font-weight: 900;
    color: #FFFFFF;
}

.price .price-desc {
    font-size: 21px;
    font-weight: 300;
    color: #FFFFFF50;
    margin-top: 20px;
    margin-bottom: 35px;
}

.price .price-choose {
    color: #2FCC71;
    font-size: 26px;
    font-weight: 700;
}

.text-point-container {
    display: flex;
    margin-top: 40px;
}

.text-point-container .circle-text {
    margin-left: 20px;
    font-size: 24px;
    flex: 1;
    text-align: left;
    color: #FFFFFF;
    font-weight: 300;
}

.large-car-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF20;
    border-radius: 10px;
    height: 100%;
    width: 586px;
}

.footer-widgets {
    padding-top: 1.8125rem;
    margin-top: 155px;
    background-color: #121C27;
}

.footer-widgets .email-block {
    display: flex;
}

.footer-widgets .email-block .btn-subscribe {
    border: 0;
}

.grey-text {
    color: #FFFFFF50;
    font-size: 24px;
    font-weight: 300;
}

.from {
    height: 35px;
    width: 56px;
}

.to {
    height: 35px;
    width: 24px;
}

.price {
    margin-top: 20px;
}

.currency {
    font-size: 55px;
    font-weight: 300;
    color: #FFFFFF;
    margin-left: 20px;
}

.logo .row p{
    margin-top: 24px;
}

.email-block input{
    width: 289px;
    height: 36px;
    background-color: #0E1823;
    border-radius: 4px 0 0 4px;
    border: 1px solid #484B50;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.email-block .btn-subscribe {
    border-radius: 0px 7px 4px 0px;
    background-color: #484B50;
    width: 104px;
    height: 40px;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
}

.social-block {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.social-block .small-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #484B50;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.display-flex {
    display: flex;
}

.pricing-image-text {
    margin: 18px auto;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}

.logo-desc {
    margin-top: 8px;
    margin-bottom: 19px;
}

.text-font {
    font-size: 14px;
    font-weight: 300;
}

